<!DOCTYPE html>

<!--
Copyright 2010 The Go Authors.
Copyright 2014 Quincy Bowers.  All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->

<html>
<head>
  <title>{{.Title}}</title>
  <link rel="stylesheet" type="text/css" href="/resources/default.css" />
</head>
<body>
<h1>Editing {{.Title}}</h1>

<form action="/save/{{.Filename}}" method="POST">
<div>
    <h2>Recipe Title</h2>
    <input type="text" name="recipeTitle" size="80" value="{{.Title}}">
    <h2>Ingredients</h2>
    <textarea name="ingredients" rows="20" cols="80">{{printf "%s" .Ingredients}}</textarea>
    <h2>Instructions</h2>
    <textarea name="instructions" rows="20" cols="80">{{printf "%s" .Instructions}}</textarea>
</div>
<div><input type="submit" value="Save"></div>
</form>

</body>
</html>
